.header-div {
    z-index: 200;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.first-section {
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.logo-div {
    width: 50px;
    margin-left: 5px;
}

.logo {
    width: 100%;
    object-fit: cover;
}

.name {
    color: white;
    margin: 0;
    font-size: 28px;
    font-family: Gruppo;
    font-weight: 600;
}

.slogan {
    font-family: Tenali Ramakrishna;
    color: rgba(189, 185, 185, 0.719);
    font-size: 14px;
    margin: 0;
}

.first-section-a {
    text-decoration: none;
}

.first-section-a:hover {
    opacity: 0.9;
}

.first-section-a:active {
    opacity: 0.8;
}

.Second-Section {
    margin-right: 10px;
    width: fit-content;
    display: flex;
    column-gap: 5px;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
}

.about-us , .home-button {
    font-size: 16px;
    font-family: Gruppo;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    color: white;
    white-space: nowrap;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    border-color: blueviolet;
    cursor: pointer;
    transition: background-color 0.15s, opacity 0.15s, font-weight 0.15s;
    font-weight: 600;

}

.about-us:hover {
    background-color: rgba(137, 43, 226, 0.575);
    font-weight: bolder;
}

.about-us:active {
    opacity: 0.8;
}
